<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="order.js" defer></script>
    <style>
   
    </style>
</head>
<body>
    
    <div class="header">
        <a href="./homepage.html" class="anchor">HOME</a>
        <a href="./index.html" class="anchor">STORE</a>
        <a href="./about.html" class="anchor">ABOUT</a>
        <a href="./order.html" class="anchor">ORDERS</a>
    </div>
    <h1 id="orderh1">Your Orders</h1>
    <div id="orderHead">
        <span class="orderHeader">Order Id</span>
        <span class="orderHeader">Product Title</span>
        <span class="orderHeader">Product Price</span>
        <!-- <span class="orderHeader">Quantity</span> -->
     </div>
   <div id="orderItems">

   </div>
 
   
</body>
</html>